@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Aplica la tipografía Inter y un fondo limpio por defecto */
body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #f8fafc; /* un gris muy clarito de fondo */
  color: #0f172a;            /* un color oscuro suave para los textos */
}